.NotFoundView {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    texta-lign: 'center';
    flexDirection: 'column';
    minHeight: '100vh';
    border: '1px solid red';
    ackgroundColor: '#F8F8FF';
}