.NotFoundView {
    display: 'flex';
    justify-ontent: 'center';
    alignItems: 'center';
    textAlign: 'center';
    flexDirection: 'column';
    minHeight: '100vh';
    border: '1px solid red';
    ackgroundColor: '#F8F8FF';
}