button.Button {
    background-color: #d04ed6;
    color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 3px 3px #d04ed6;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
}

button.Button:hover {
    background-color: #834d9b;
}