button.Button {
    background-color: #d04ed6;
    color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 3px 3px ;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
}

button.Button:hover {
    background-color: #cd3cd5;
    padding: 7.5px 11px;
}