@use '../../assets/styles/mixins/mixins';

    table.Table {
      width: 100%;
      box-shadow: 0 3px 6px rgba(#000, .1);
      border-collapse: collapse;
      background-color: #FFFFFF;
      margin: 18px auto;
    }

    table.Table thead {
      background-color: var(--table-header-bg-color);      
    }

    table.Table thead tr th {
        color: rgba(#fff, .8);
        text-align: left;
        padding: 14px 10px;
        font-size: .8em;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .75px;
  
        &.right {
          text-align: right;
        }
    }

  
    table.Table tbody {
      tr:hover {
        background-color: rgba(#000, .05);
      } 

      tr td {
          padding: 7px 10px;
          color: var(--table-body-row-color);
      }

      tr td.right {
        text-align: right;
      }

      td.actions button {
          margin: 3px;
    }

    
  }

  .Table__attribute {
    border: 1px solid black;  
    display: flex;
    justify-content: ;
  }

  .Table__pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
  
    a {
      width: 25px;
      height: 25px;
      background-color: var(--table-pagination-bg-color);
      border: 1px solid var(--table-pagination-border-color);
      color: var(--table-pagination-color);
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .25s ease;
      text-decoration: none;
      font-size: 12px;
      font-weight: 600;
  
      &:not(:last-child) {
        margin-right: 5px;
      }

      &:hover {
        background-color: var(--table-pagination-hover-bg-color);
        color: #fff;
        border-color: var(--table-pagination-hover-border-color);
        box-shadow: 0 4px 8px rgba(#000, .2);
        transform: translateY(-2px);
      }
    }

    a.selected-1 {
        color: #222;
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
        font-weight: 300;
    }

    a.selected-2 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-3 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-4 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-5 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-6 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-7 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-8 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-9 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-10 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-11 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }

    a.selected-12 {
      color: #222;
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
      font-weight: 300;
    }
  
  }


  @include mixins.light-purple {
    --table-header-bg-color: #d04ed6;
    --table-body-row-color: #222;
    --table-pagination-bg-color: #fff;
    --table-pagination-border-color: #ccc;
    --table-pagination-color: #d04ed6;
    --table-pagination-hover-bg-color: #d04ed6;
    --table-pagination-hover-border-color: #d04ed6;
    --table-pagination-hover-color: #fff;
  }