@use '../../assets/styles/mixins/mixins';

header.Header {
    align-items: center;
    background: var(--header-bg-color);  /* fallback for old browsers */
   color: #FFFFFF;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0, .2);

    h1 {
            font-size: 1.4em;
    }
  }
  
  header.Header__dropdown {
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 70px;
    width: 300px;
    transform: translateX(-10%);
    background-color: var(--header-bg-dropdown-color);
    border: 1px solid var(--header-dropdown-item-focus-shadow-border-color);
    padding: 0.75rem;
    overflow: hidden;
  
  
  }
  
  header.Header__dropdowMenu-item {
    color: var(--header-dropdown-item-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px;
    transition: background 500ms;
    padding: 0.5rem;
    text-decoration: none;
    margin-right: 4px;
  
    &:hover {
      box-shadow: 0 0 0 3.5px var(--header-dropdown-item-focus-shadow-border-color);
    }
  }
  header.Header__dropdowMenu-item-write {
    font-size: 14px;
    font-weight: 600;
    margin-right: 8px;
  }
  
//   /* Header Themes */
//   @include mixins.light-purple {
//     --header-bg-color: #d04ed6;
//     --header-color: #ffffff;
//     --header-dropdown-item-color: #d04ed6;
//     --header-bg-dropdown-color: #ffffff;
//     --header-dropdown-item-focus-shadow-border-color: #6019773d;
//   }
  
  @include mixins.light-pink {
    --header-bg-color: #ff00bf;
    --header-color: #ffffff;
    --header-dropdown-item-color: #ff00bf;
    --header-bg-dropdown-color: #ffffff;
    --header-dropdown-item-focus-shadow-border-color: #6019773d;
  }
  