@use '../../assets/styles/mixins/mixins';

.Input {
    height: 45px;
  }
  
  .Input label {
    display: flex;
    flex-direction: column;
  }
  
  .Input label span {
    text-transform: uppercase;
    color: #09f;
    font-size: .8em;
    height: 15px;
    letter-spacing: .75px;
  }
  
  .Input label input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0; /* fix edge's default border-radius */
    height: 30px;
    color: #222;
  }
  
  .Input label input:focus {
    border-color: #09f;
    outline: none;
  }
  
  .Input label input::placeholder {
    color: #ccc;
  }

  @include mixins.light-purple {
    --header-bg-color: #d04ed6;
    --header-color: #ffffff;
    --header-dropdown-item-color: #d04ed6;
    --header-bg-dropdown-color: #ffffff;
    --header-dropdown-item-focus-shadow-border-color: #6019773d;
  }